@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #181818;
    --bg-secondary: #a020f0;
    --text-primary: #f5f5f5;
    --text-secondary: #181818;
    --closer-gray: #646464;
    --far-gray: #9b9b9b;
  }
}

:root[theme='dark'] {
  --bg-primary: #181818;
  --bg-secondary: #a020f0;
  --text-primary: #f5f5f5;
  --text-secondary: #181818;
  --closer-gray: #646464;
  --far-gray: #9b9b9b;
  background-color: var(--bg-primary);
}

:root[theme='light'] {
  --bg-primary: #f5f5f5;
  --bg-secondary: #a020f0;
  --text-primary: #181818;
  --text-secondary: #f5f5f5;
  --closer-gray: #9b9b9b;
  --far-gray: #646464;
  background-color: var(--bg-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
